html {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
body {
    padding-top: 50px;
}
.content {
    margin: auto;
    width: 70%;
    padding: 10px;
}
.gameover {
    font-weight: bold;
}
.gameScore {
    color:  #0062ff ;
}